.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neon-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.neon-scrollbar::-webkit-scrollbar-thumb {
  background: #ff3cf6; /* neon-pink */
  border-radius: 8px;
  border: 2px solid #18181b; /* bg-dark-bg */
}
.neon-scrollbar::-webkit-scrollbar-track {
  background: #18181b; /* bg-dark-bg */
}
.neon-scrollbar {
  scrollbar-color: #ff3cf6 #18181b; /* For Firefox */
  scrollbar-width: thin;
}
